body{
  background-color: #D5F9FF;
  color : #0d86b2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
 #root{
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 300px;
    padding: 10px;
    background-color: #6DB8E2;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .header{
  margin-top: 10px;
  margin-bottom: 10px;
 }

 #city{
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .cityname{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 #search:hover{
  background-color: #0d86b2;
  color: white;
 }

 #city:hover{
  background-color: #0d86b2;
  color: white;
 }

 .error{
  color: red;
 }

 .weather{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .weather:hover{
  background-color: #0d86b2;
  color: white;
 }
 .submit{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  color: #007084;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }